= <%= simple_form_for(@table_booking) do |f|
  <%= f.error_notification %>

  <div class="inputs">
    = f.input :tables
    = f.input :corporate_packages
    = f.input :gold_packages
    = f.input :name
    = f.input :company
    = f.input :address_1
    = f.input :address_2
    = f.input :postcode
    = f.input :telephone
    = f.input :email
    = f.input :payment
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
