<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      p {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #333333;
      }
    </style>
  </head>
  <body>
    <h1 style="color: #927741; margin:0; padding: 0; line-height: 1.6em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">GREAT NEWS!!!</h1>
    <h2 style="color: #B39353; margin:0; padding: 0; line-height: 1.2em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">YOU HAVE BEEN NOMINATED FOR A TRAINE-TRAIDE BUSINESS AWARD!</h2>
 
    <p>To find out more about the TrainE-TraidE Business Awards <a href="http://www.ttlunch2012.com/nominations/new#how-it-works">click here</a></p>
 
    <p>A member of the TrainE-TraidE Business Awards team will be in touch with you shortly.</p>
 
    <p>Should you wish to contact one of the TrainE-TraidE Business Awards Team you can email <strong><a href="mailto:mark.curtis@traine-traide.org.uk">mark.curtis@traine-traide.org.uk</a></strong> or call <strong>020 8371 3286</strong>.</p>
 
    <p>In the meantime, why not take advantage now and "Like" our official Facebook page to stay up to date with all the latest news and information.</p>
 
    <p>Make the most of our Facebook fan page "wall" where you can also showcase yourself and/or your business whilst networking with other nominees and attendees before the event.</p>

    <p><%= link_to image_tag("http://www.ttlunch2013.com/images/facebook-box.png", :alt =>"Visit us on Facebook", :height => "75"), "http://on.fb.me/s7CLy4" %> <%= link_to image_tag("http://www.ttlunch2013.com/images/twitter-box.png", :alt =>"Follow us on Twitter", :height => "75"), "http://bit.ly/utqr56" %></p>

    <p><strong>Well Done!!!</strong></p>
  </body>
</html>