<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      p {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #333333;
      }
    </style>
  </head>
  <body>
    <h1 style="color: #927741; margin:0; padding: 0; line-height: 1.6em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">GREAT NEWS!!!</h1>
    <h2 style="color: #B39353; margin:0; padding: 0; line-height: 1.2em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">YOU HAVE BEEN NOMINATED FOR A TRAINE-TRAIDE BUSINESS AWARD!</h2>
 
    <p>To find out more about the TrainE-TraidE Business Awards <a href="http://www.ttlunch2012.com/nominations/new#how-it-works">click here</a></p>
 
    <p>A member of the TrainE-TraidE Business Awards team will be in touch with you shortly.</p>
 
    <p>Should you wish to contact one of the TrainE-TraidE Business Awards Team you can email <strong><a href="mailto:mark.curtis@traine-traide.org.uk">mark.curtis@traine-traide.org.uk</a></strong> or call <strong>020 8371 3280</strong>.</p>
 
    <p><strong>Well Done!!!</strong></p>
  </body>
</html>