%h1 About TrainE - TraidE
%p Based in Finchley, TrainE-TraidE’s mission is to empower individuals within the Jewish community by promoting entrepreneurship, developing businesses and assisting people to secure employment, using a personalised approach.  This is done through business incubation and support services, careers advice and job preparation, and training courses.

%p Business services include: initial business assessments; full incubation services (free serviced offices, admin support, IT and telephone infrastructure); business training seminars; networking opportunities; access to professional services – accountancy & legal; dedicated business mentors; and business start-up loans. 

%p TrainE-TraidE’s job readiness programme assists any individuals looking for work or a change in career path.  The programme consists of: careers guidance, CV writing training, interview skills, innovative job searching techniques and a summer placement programme.

%p Training courses offered at TrainE-TraidE cover all sectors and professional fields including: business and finance, IT, art and design, health and beauty and counselling and psychotherapy.
%p TrainE-TraidE runs a successful mentoring programme matching those needing support with individuals and businesses that are able to guide them.

%p The TrainE-TraidE offices include a dedicated IT suite with interactive teaching programmes, fully equipped lecture rooms, meeting rooms and fully serviced offices.