- @title = "About"
%h1 About TrainE - TraidE
%p TrainE-TraidE is a Jewish non-profit organisation which was founded in April 2006. It assists people in creating long term sustainable incomes either through building businesses or creating employment.  TrainE-TraidE creates opportunities for everyone, at any life stage in any situation.
 
%p TrainE-TraidE’s aim is to provide people with essential lifelong skills to support themselves and their families through the challenging years ahead and long into the future by:

%ul
  %li Training people in vocational qualifications
  %li Providing support to get people into or back into work
  %li Assisting graduates in finding work placements
  %li Enabling people to make informed career choices
  %li Increasing the success rate and long term sustainability of new and existing businesses
 
%h2 TrainE-TraidE provides the following services:
%ul
  %li <a href="http://www.traine.org.uk/training/index.php">Training</a> is offered through courses which are vocational and selected to lead directly to employment. We have 18 accredited courses on offer incorporating Art & Design, Business & Finance, Computing, Counselling and Health & Beauty.
  %li <a href="http://www.traine.org.uk/careers">Career Coaching</a> is offered through a combination of personal interviews, a career management programme and personality testing. Clients are made aware what is suitable for them in order to make an informed career choice. 
  %li <a href="http://www.traine.org.uk/careers/job-readiness.php">Job Readiness</a> helping to give candidates the best opportunity in securing positions, we offer individualised guidance to improve CVs and interview skills.  
  %li <a href="http://www.traine.org.uk/news-and-events/summerplacement.php">Placement Scheme</a> was launched to address the ‘catch 22’ situation of requiring work experience when applying for jobs and not being able to secure a job because of lack of work experience.  Through our network of business contacts we arrange unpaid work placements in suitable industries for candidates.
  %li <a href="http://www.traine.org.uk/business/business-support.php">Business Support</a> is assisting new and existing businesses to generate sustainable long term income through a range of business support services.