= render :partial => "layouts/slider"

%h1 The Business Awards Lunch

%p The TrainE-TraidE Annual Business Awards lunch has become a key event in the Jewish business calendar.  The next Business Awards Lunch will be held on 7th February 2013 with Lloyd Dorfman CBE, Founder of The Travelex Group,  as guest of honour and Business Achievement Award recipient.

%p At the event we will be announcing the winners of the TrainE-TraidE Jewish Business Awards 2013.  The Awards recognise and celebrate the best businesses and Jewish entrepreneurs, attracting hundreds of entries each year. 

%p The Business Awards Lunch is the perfect opportunity for you to publicly align yourself with helping new start-ups, entertain existing clients and network with prospective clients whilst being exposed to current business thinking, within a professional atmosphere.

%p The TrainE-TraidE Business Awards Lunch attracts an audience of high profile business individuals.  Those attending will include key businesses leaders and opinion formers in the community.

%p The money raised at the Business Awards Lunch will allow TrainE-TraidE to continue its vital work, which is to help people secure employment as well as assist people in creating sustainable businesses enabling them to support themselves and their families.

%p Tickets for the Business Awards Lunch are available by contacting <a href="mailto:mark@jam-events.com">mark@jam-events.com</a>.

%iframe{:width => 940, :height => 508, :src => "http://www.youtube.com/embed/0QKAl276fss", :frameborder => 0, :allowfullscreen => true}