= render :partial => "layouts/slider"

%h1 Congratulations!
= image_tag("/images/winners.png", :width => 940, :height => 596, :alt => "TrainE-TraidE 2012 Winners")
%iframe{:width => 940, :height => 508, :src => "http://www.youtube.com/embed/MwNBmVKYQi8", :frameborder => 0, :allowfullscreen => true}