= render :partial => "layouts/slider"

%h1 The Business Awards Lunch

%p The TrainE-TraidE annual Business Awards Lunch has become a key event in the Jewish business calendar. The next Business Awards Lunch will be held on 23rd February 2012 with Gerald Ronson, CEO Heron International attending as guest of honour.

%p At the event we will be announcing the winners of the fourth annual TrainE-TraidE Business Awards. The Awards recognise and celebrate enterprising individuals across the spectrum of their business development, attracting hundreds of entries each year.

%p.cta
  = link_to 'Get the Early Bird Offer!', new_table_booking_path, :class => "btn large primary early-bird"

%p The Business Awards Lunch is the perfect opportunity for you to publicly align yourself with helping new start-ups, entertain existing clients and network with prospective clients whilst being exposed to current business thinking, within a professional atmosphere.

%p The TrainE-TraidE Business Awards Lunch attracts an audience of high profile business individuals. Those attending will include major donors, key business leaders and opinion formers in the Jewish community.

%p.media-partners
  = link_to image_tag('/images/media-partners/jewish-news.png', :alt => "Jewish News - TrainE-TraidE Business Awards 2012 Media Partner", :height => "150", :width => "141"), "http://www.totallyjewish.com"