- @title = "Overview"
= render :partial => "layouts/slider"
%h1 The Challenge
%p In an increasingly competitive workplace, getting a “start” often proves the greatest challenge. There are numerous factors which prevent people from embarking on prosperous careers. Primary reasons for this are lack of direction, insufficient funding and inadequate access to proper resources.

%h2 Meeting the Challenge – A Turnkey Solution
%p TrainE-TraidE is a non-profit organisation whose mission is to assist people in becoming financially self-sufficient, by helping them get their “start” or enhancing existing incomes. TrainE-TraidE has become the community’s leading employment and business hub. It provides a range of training opportunities leading to qualifications, in order for people to gain or enhance their employment. There are currently approximately 160 students enrolled on courses. We also offer career guidance and a job readiness service which is accessed by over 800 individuals annually.
%p In the current economic climate jobs are scarce. Recruitment statistics show that it is essential for jobseekers to have some relevant experience even before being considered for interview. It is a vicious cycle facing many candidates – with no relevant experience there is no chance of a job and with no job there is no chance of gaining experience. In order to address this issue, TrainE-TraidE has developed an innovative placement scheme, working with companies, to secure placements for job seekers. The results have been exceptional and in 26% of cases have led to full time employment and training contracts.
%p As part of the full turnkey solution, TrainE-TraidE assists with the establishment and development of new and existing businesses in order to generate sustainable long term incomes for budding entrepreneurs. Services include; initial business assessments, matching to relevant mentors, one off advice sessions, monthly business training seminars and access to finance. We have assisted over 150 businesses through one or more of these services.
%p TrainE-TraidE operates a start-up incubator which offers the infrastructure, services and finance needed to establish and develop new businesses. This includes serviced offices, access to our wide network of industry contacts as well as the possibility of seed funding. Each business is monitored very closely and is guided by a mentor with specific expertise in the area in which they operate.
%h2 Funding
%p In today’s highly professional and competitive business marketplace, it is essential that all training and business support be at a level that is on par with the demands of the “real world”. TrainE-TraidE employs five highly qualified professionals.
%p As an integral part of TrainE-TraidE’s remit, it will do the utmost not to turn away candidates who, due to limited financial resources, cannot embark on a particular course of study. TrainE-TraidE offers scholarships to those students who cannot afford to pay for their studies. We will not offer any single candidate 100% scholarship, as it is important, however difficult, for the candidate to make their own contribution to show serious commitment.
%p The TrainE-TraidE incubator requires core funding, to ensure that all equipment and premises are state of the art, as well as the people working to help the businesses are properly qualified professionals.
%p The Business Awards Lunch is the perfect opportunity for you to publicly align yourself with helping new start-ups, entertain existing clients and network with prospective clients whilst being exposed to current business thinking, within a professional atmosphere.
%p The money raised from the Business Awards Lunch will allow TrainE-TraidE to continue its vital work for the Jewish community. This will in turn enable individuals to become self sufficient by earning a sustainable income.
%p The TrainE-TraidE Business Awards Lunch attracts an audience of high profile business individuals. Those attending will include major donors, key leaders and opinion formers in the Jewish community.

.row
  .span6.ian-pic
    = image_tag('/images/ian-livingston.jpg')
  .span10.ian-quote
    .quote “TrainE-TraidE gives you options and opportunities. Their work is important at any time, it’s particularly important now.”
    .attribute Ian Livingston, CEO of the BT Group and keynote speaker at the TrainE-TraidE Business Awards Lunch 2009