= render :partial => "slider"
%h1 The Challenge
%p In current economic times, getting a “start” in an increasingly competitive workplace often proves the greatest challenge. With the right advice, guidance and resources, individuals will be able to make their mark and place themselves in a position where they will be ready to maximise all opportunities.  For some, this is realising entrepreneurial dreams, for others it is beginning on a path, leading to a successful career.  

%p TrainE-TraidE, is a four and a half year old non profit organisation, working within the Jewish community promoting entrepreneurship, developing businesses and assisting people to secure employment&hellip;  This is done through business incubation and support services, careers advice and job preparation, and training courses.

%h2 Meeting the Challenge &mdash; The Turnkey Solution
%p Any individual, at any life stage can find direction and support through one or more services offered by TrainE-TraidE.

%p TrainE-TraidE runs a successful Business Incubation Service assisting with the development of new businesses in order to generate sustainable long-term incomes for their owners.  To date we have helped more than 150 businesses by offering: initial business assessments; full incubation services (free serviced offices, admin support, IT and telephone infrastructure); business mentors; and monthly business training seminars.  Each business is monitored very closely and is guided by a mentor with specific expertise in the areas in which they operate. TrainE-TraidE is currently supporting twelve businesses with a number in the pipeline. 

%p In today’s highly competitive employment market, TrainE-TraidE aids jobseekers by giving them the “added edge” when searching a job.  Individuals benefit from careers guidance, CV writing advice, interview skills training and job searching seminars.  TrainE-TraidE runs a summer placement scheme in conjunction with high profile businesses, which helps graduates and job seekers to secure work placements, which, in turn, often leads to permanent employment. Over 800 individuals have benefitted from this service in the past year.

%p As part of the full turnkey solution, TrainE-TraidE offers a variety of training opportunities leading to qualifications, in order for people to gain or enhance their employment.  Training is offered on a part time basis within the fields of business and finance, IT, art and design, health and beauty and counselling and psychotherapy.  There are currently approximately 160 students enrolled on courses.

%p What started as a community based initiative which sought to support members of the local community in finding work and providing young businesses with the resources to survive, is now the community’s leading employment and business hub for those who are determined to succeed. We do not give hand outs, we only help individuals and businesses to make the best of the opportunities given to them.

%p It is now that the whole community needs to pool its resources and work together to get through these rough financial times, which is exactly what TrainE–TraidE does. This initiative encourages successful business people to give of their time, share their contacts and leverage their experience to help others get the opportunities that would otherwise be unavailable.

%h2 Funding
%p In today’s highly professional and competitive business world it is vital that organisations like TrainE-TraidE continue to assist people in laying down the foundations for their future and helping them to realise and maximise their potential. 

%p There are numerous factors which prevent people from embarking on prosperous careers. Primary reasons for this are lack of direction, insufficient funding and access to proper resources. 

%p The TrainE-TraidE incubator requires core funding to ensure that all equipment and premises are state of the art, as well as the people working to help the businesses are properly qualified professionals.

%p TrainE-TraidE’s job readiness programme can be accessed by anyone, free of charge.  People searching for work are often vulnerable and confused.  TrainE-TraidE’s qualified professionals work with individuals to lead them on to their next step for a successful future.
%p As an integral part of TrainE-TraidE’s remit, it will do the utmost not to turn away candidates who, due to limited financial resources, cannot embark on a particular course of study. TrainE-TraidE tries to offer scholarships to those students who cannot afford to pay for their studies.