#shell {
  margin: 0 auto;
  width: 980px;
  background: $white;
}
#footer {
  width: 940px;
  margin: 0 auto auto;
}
.footer {
  font-size: 9pt;
  padding: 10px 0;
  span {
    margin: 0 10px 0 0;
  }
}