body, li {
  color: #333;
}
#shell {
  margin: 0 auto;
  width: 980px;
  background: $white;
  @include box-shadow(0 2px 10px rgba(0,0,0,0.25));
}
.nav-top {
  position:relative;
  .pills {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 0;
    li {
      font-weight: bold;
      font-size: 11pt;
    }
  }
}
.nav-bot {
  .pills {
    width: 780px;
    margin: 0 auto 10px auto;
    li {
      font-size: 10pt;
    }
  }
}
#footer {
  width: 940px;
  margin: 0 auto auto;
  position: relative;
}
.footer {
  font-size: 9pt;
  padding: 10px 0;
  span {
    margin: 0 10px 0 0;
  }
}

.bof {
  text-align: center;
}

fieldset {
  background: $goldLight;
  padding-bottom: 10px;
}

body {
  width: 980px;
  margin: 0 auto;
  @include box-shadow(0 2px 10px rgba(0,0,0,0.25));
}
  img{ border:none; }
  
  #supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
    #supersized img{ width:auto; height:auto; position:relative; outline:none; border:none; }
    
    #supersized a { z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; display:block; }
      #supersized a.image-loading { background:#111 url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }

form {
  // text-align:center;
  .clearfix {
    width: 600px;
    margin: 10px auto;}
  .input {
    margin-left: 0px; }
  .lblcost {
    float: right; }
  .inputs-list li {
    margin: 0 0 10px 140px;
    width: 450px;
    padding-top: 6px;
    label {
      width: 350px;
    }
  }

  label {
    padding-right: 10px;}

  .string, .text, .tel, .email, .integer, .optionsRadio, li span {
    // color: $goldDark;
    font-weight: bold;
  }
  .help-block {
    color: $grayDark;
    width: 100%;
  }
}

input, textarea, select, .uneditable-input {
  width: 210px;
}

textarea#brochure_comments, textarea#nomination_reason, textarea#nomination_hear_about {
  width: 450px;
}

#brochure_postcode {
  width: 100px
}
#rsvp_number_of_people {
  width: 50px
}
#brochure_name, #brochure_company, #brochure_comments {
  width: 350px
}
.input.button {
  text-align: center;
  margin: 15px 0;
}
label.long {
  width: 450px !important;
  .lbl {
    font-weight: normal; }
}
.card {
  background: $goldPale;
  width: 350px;
  padding: 14px;
  margin: 10px auto 0 auto;
  @include box-shadow(0 2px 10px rgba(0,0,0,0.25));
  @include border-radius;
  dt, dd {
    border-bottom: 1px #ccc dashed;
    padding: 1px 0;
    margin: 10px;
  }
  dd {
    padding-left: 10px;
  }
}

.contactme {
  width: 650px;
  text-align:center;
  margin: 0 auto 10px auto;
  p {
    font-weight: bold;
  }
}
.inputs-list .big {
  margin-left: 100px;
  width: 500px;
  li {
    margin-left: 25px;}
}
.inputs-list label strong {
  color: $black;
}

.media-partners {
  text-align:center
}

.simple_form label.collection_radio, .simple_form label.collection_check_box {
  float: none;
  display: inline;
  // color: $goldDark;
}
span.collection_radio {
  padding-top: 6px
}
.guide {
  margin-left: 140px;
  // color: $goldDark;
}
.ebb {
  position:absolute;
  right:120px;
  top:-60px;
  z-index:2;
}

h1, h2, h3 {
  margin-bottom: 10px;
}
p.cta {
  text-align:center;
  margin: 15px 0;
}
.btn.early-bird, .alert-message.early-bird {
  width: 250px;
  @include vertical-gradient($orange, darken($orange, 15%));
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: $gold $gold $goldDark;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
ul.inputs-list {
  margin: 0 0 5px 20px;
}
.inputs-list input[type="radio"], .inputs-list input[type="checkbox"] {
  margin-left: -16px;
}
.btn-nominate-now {
  text-align: center;
}
.ian-pic {
  text-align: right;
}
.ian-quote {
  width: 500px;
  text-align: center;
  .quote {
    color: $goldDark;
    font-size: 19pt;
    margin: 10px 0 10px 0;
    line-height: 1.6em;
    margin-left: 30px;
  }
  .attribute {
    font-style: italic;
    color: $gold;
  }
}


#header {
  position: relative;
}
#nav-box-wrapper {
  position: absolute;
  width: 950px;
  left:-5px;
  z-index:9999;
  background: $white;
}
#nav-box {
  top: 0px;
  background: $white;
  margin-left:1px;
  width: 950px;
  height: 84px;
}
#nav-box.fixed {
  position: fixed;
  top: 0;
  @include box-shadow;
}